html {
  margin: 0;
  font-family: UniversCom-57Condensed, sans-serif;
  box-sizing: border-box;
}
body {
  background-color: white;
  color: white;
}
/***** Header ******/
header {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
/** Navigation **/
#nts-navigation {
  height: 42px;
  padding: 8px 6px 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
}
#nts-navigation .nts-logo {
  position: absolute;
  top: 8px;
  left: 8px;
}
#navigation-list {
  display: inline-block;
  margin-top: 5px;
  margin-left: 40px;
  font-size: 14px;
}
.navigation-list--item {
  margin-right: 10px;
  cursor: pointer;
}
.navigation-list--item:hover {
  color: rgba(255, 255, 255, 0.7);
}
.social-links {
  font-size: 14px;
  padding-top: 5px;
  margin-left: 8px;
}
.social-links .icon {
  cursor: pointer;
  color: #ffffff;
}
.social-links .icon:hover {
  color: rgba(255, 255, 255, 0.7);
}
/** NTS Streams **/
#nts-streams {
  overflow: auto;
}
.nts-stream-cell {
  float: left;
  width: 33.33%;
  cursor: pointer;
  height: 28px;
  padding-top: 5px;
  font-size: 13px;
}
.nts-stream-cell:not(.nts-stream-cell--active).nts-stream-cell:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.nts-stream-cell.nts-stream-cell--active {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}
.nts-stream-cell.nts-stream-cell--active .fa {
  color: black;
}
.nts-stream-cell .fa {
  font-size: 12px;
  color: white;
  height: 22px;
  width: 22px;
  margin-top: 2px;
}
.nts-stream-cell .fa-pause {
  margin-right: 2px;
}
.stream-info {
  display: none;
  border-top: 1px solid rgba(255, 255, 255, 0.9);
  overflow: auto;
  max-height: 450px;
  height: 450px;
  padding: 5px 5px;
}
.stream-info.stream-info__content--playing {
  background-color: rgba(255, 255, 255, 0.9) !important;
  border: none;
  color: black;
}
.stream-info.stream-info__content--visible {
  display: block;
}
.stream-info__image {
  max-width: 600px;
  width: 33%;
  overflow: auto;
}
.stream-info__image__img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.stream-info__content {
  padding: 10px;
}
.stream-info__content__title {
  font-size: 40px;
}
.stream-info__content__tracklist {
  font-size: 14px;
}
.stream-info__content__tracklist p {
  margin: 0;
}
/****** Home Page ******/
.nts-home {
  margin-top: 600px;
}
.nts-slide {
  display: block;
  height: 100vh;
}
#nts-home--slide-one {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("http://media.ntslive.co.uk/resize/1600x1600/3f0876a6-7726-4f9e-bb90-520f5299c172_1461625200.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#nts-home--slide-one .nts-slide__content {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  right: 0px;
}
#nts-home--slide-one .nts-slide__content__text {
  margin: 0 80px;
}
#nts-home--slide-one .nts-slide__content__text h1 {
  font-size: 41px;
  margin: 0;
}
#nts-home--slide-one #home-hero-left,
#nts-home--slide-one #home-hero-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  cursor: pointer;
}
#nts-home--slide-one #home-hero-left:before,
#nts-home--slide-one #home-hero-right:before {
  margin: 0;
}
#nts-home--slide-one #home-hero-left {
  left: 5px;
}
#nts-home--slide-one #home-hero-right {
  right: 5px;
}
/****** Style Guide ******/
.nts-logo {
  background: url('images/nts-logo.png');
  background-size: 26px 26px;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.nts-logo:hover {
  opacity: 0.8;
}
.nts-arrow-down {
  display: inline-block;
  background: url('images/nts-caret-up.png');
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}
.nts-input {
  width: 215px;
  padding-left: 2px;
  font-size: 14px;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
}
.text-bold {
  font-weight: 800;
}
.text-spaced {
  letter-spacing: 2px;
}
.text-center {
  text-align: center;
}
.nts-full-width {
  width: 100%;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
